*{
    margin: 0;
    padding: 0;
    

}
.main{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 93vh;
    margin-top: 1.2%;
    margin-left: 11%;
    background-color: #b22138;
    width: 80vw;
    grid-gap: 1vw;
    border-radius: 1vw;

    
    
}
.content{
    background-color: beige;
}
.content:nth-child(1)
{
    display: grid;
    grid-template-rows:45% 45% ;
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 20px;
    margin-left: 5%;
}
.menu{
    margin: 5%;
    display: grid;
    grid-template-rows: 50% 50%;
}
.Settings ,.logout
{
        width:100%;
        display: grid;
        background-color: beige;
        border-bottom: 0.5px solid #b22138;
        align-items: center;
        place-items: center;
        height: 20%;
    
}
.Settings{
    margin-top: 40%;
}
.Settings:hover{
    cursor: pointer;
}
.logout:hover{
    cursor: pointer;
}

.info{
    margin: 5%;
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: beige;
    
}
.image
{
    background-color: beige;
    
}
.information{
    background-color: beige;
    margin-top: 2%;
}
.info img{
    border: 5px solid white;
    height: 80%;
    width: 55%;
    border-radius: 50%;
    margin-left: 19%;
    margin-top: 8.5%;
}
label{
    background-color: beige;
}
.information{
    
    padding-top: 15%;
    padding-left: 5%;
    
    
}
p{
    background-color:beige;
}

.content:nth-child(2)
{
    margin-top: 3.8%;
    margin-bottom: 3.8%;
    margin-right: 3%;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 50% 50%;
    font-size: 25px;
    
}
.academics{
    width:40%;
    display: grid;
    background-color: beige;
    border: 2px solid #b22138;
    align-items: center;
    place-items: center;
    margin-left: 30%;
    height: 50%;
    margin-top: 10%;
    border-radius: 20px;
}
.academics:hover{
        box-shadow: 0 0 15px #b22138;
}
.placements:hover{
    box-shadow: 0 0 15px #b22138;
}
.placements{
    width:40%;
    display: grid;
    background-color: beige;
    border: 2px solid #b22138;
    align-items: center;
    place-items: center;
    margin-left: 30%;
    height: 50%;
    border-radius: 20px;


    
}
.academics a,
.placements a
{
    background-color: white;
    color: black;
    font-size:25px;
    border: none;
    text-decoration: none;
}